<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
    <meta charset="UTF-8">
    <title>Blog Alkemy</title>
</head>
<body>
    <header th:replace="plantilla/template :: header"></header>

    <div class="container">

      <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each=" post: ${posts}">
                    <td th:text="${post.title}"></td>
                    <td>
                      <a class="btn btn-success btn-sm" th:href="@{/post/} + ${post.idPost}">
                        Detalles
                      </a>
                      <a class="btn btn-success btn-sm" href="">
                        Editar
                      </a>
                      <a class="btn btn-success btn-sm" href="">
                        Eliminar
                      </a>
                    </td>
                  
                </tr>
              </tbody>
            </table>
    </div>

    

</body>
</html>